<div class="mt-3">
  <mat-divider></mat-divider>
  <div class="mb-3" *ngIf="isEditMode">
    <app-comment-form [taskId]="taskId" (createCommentEmitter)="refresh()"></app-comment-form>
  </div>
  <mat-list>
    <div class="mb-1">
      <button mat-button type="button" (click)="addComment()">
        <mat-icon>add_comment</mat-icon>
        Add Comment
      </button>
      <button *ngIf="isEditMode" type="button" (click)="cancelComment();" class="btn btn-link">
        Cancel
      </button>
      <div mat-subheader>
        Comments
      </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-subheader *ngIf="comments && comments.length > 0">
      <input matInput [(ngModel)]="searchText" placeholder="Filter Comments" autocomplete="off" (input)="onSearchText()">
    </div>
    <mat-list-item *ngFor="let comment of comments | filter : searchText" (click)="selectComment(comment)">
      <mat-icon mat-list-icon>comment</mat-icon>
      <div mat-line> {{comment.commentText}} </div>
      <div mat-line> added at: {{comment.createdDate | date: 'medium' }} </div>
      <div mat-line>
        <button type="button" (click)="deleteComment(comment.id);" class="btn btn-link"><mat-icon mat-list-icon>delete</mat-icon></button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
