<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size:21px;line-height:107%;">Task Management System Technical Specifications</span></p>
<p style="margin: 0cm 0cm 8pt 35.4pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-indent: 35.4pt; text-align: left;"><span style="font-size:21px;line-height:107%;">01 November 2022</span></p>
<p style="margin: 0cm 0cm 8pt 35.4pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-indent: 35.4pt; text-align: left;"><span style="font-size:21px;line-height:107%;">Author: Yavuz Selim Yıldız</span></p>
<p style="margin: 0cm 0cm 8pt 35.4pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-indent: 35.4pt; text-align: left;"><span style="font-size:21px;line-height:107%;">Team: Yavuz Selim Yıldız</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><br></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:21px;line-height:107%;">Overview:</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:16px;line-height:107%;">The current system for managing basic tasks. System will allow to users, adding, listing and</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:16px;line-height:107%;">updating tasks and also able to adding comments to it. Users will be able to assign task to other users and set action date for &nbsp;task via comments.&nbsp;</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:16px;line-height:107%;">&nbsp;</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:21px;line-height:107%;">Goals:</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:16px;line-height:107%;">The system will include web based application with:</span></p>
<ul style="list-style-type: disc;margin-left:11px;">
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Multi layered architecture (Clean Architecture)</span></li>
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Client App with Angular + TypeScript + Html</span></li>
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Postgresql&nbsp;</span></li>
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">.Net Core &amp; C#</span></li>
</ul>
<p style="margin: 0cm 0cm 8pt 21pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:16px;line-height:107%;">&nbsp;</span></p>
<p style="margin: 0cm 0cm 8pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:21px;line-height:107%;">Requirements:</span></p>
<ul style="list-style-type: disc;margin-left:11px;">
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Task Dashboard</span></li>
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Task forms for creation and editing</span></li>
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Comments form &nbsp;creation and deleting</span></li>
  <li style="text-align: left;"><span style="line-height:107%;font-size:16px;">Back-end services for CRUD operations</span></li>
</ul>
<p style="margin: 0cm 0cm 8pt 21pt; line-height: 107%; font-size: 15px; font-family: Calibri, sans-serif; text-align: left;"><span style="font-size:16px;line-height:107%;">&nbsp;</span></p>
