<mat-toolbar color="primary" class="app-menu-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  <h1 class="app-menu-task-management">Task Management System</h1>
</mat-toolbar>
<mat-sidenav-container class="app-menu-container" autosize >
  <mat-sidenav #sidenav class="app-menu-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item (click)="navigator('/dashboard')">System Task Dashboard  </a>
      </div>
    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>

